*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    

}
header{
    width: 100%;
    padding: 20px 50px;
    background-color: navy;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .logo{
    display: flex;
    align-items: center;
}
header .logo img{
    width: 70px;
    filter: invert(1);
}
header .logo h2{
    font-weight:600 ;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
header ul{
    display: flex;
}
header ul li{
    margin: 0px 12px;
}  
header ul li a{
    color: white;
    text-transform: capitalize;
    padding: 4px 10px;

}
header ul li a:hover{
    background-color: white;
    color: navy;
}

.banner .bannercontent{
    height: 700px;
    width: cover;
    background-image:linear-gradient(90deg, rgba(233,251,50,0.3) 0%, rgba(233,251,50,0.3) 100%), url(baner.jpeg.jpg);
    background-size: cover;
    padding: 150px 0px;
}
.banner .bannercontent h2{
    color: white;
    font-size: 4em;
    text-transform: capitalize;
}
.banner .bannercontent p{
    font-weight: 300;
    color: white;
    font-size: 18px;
}
.banner .bannercontent button{
    padding: 8px 20px;
    background-color: navy;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
}

.menu{
    width:100%;
    background-color: navy;
    padding: 70px;
    text-align: center;

}
.menu .title{
    text-align: center;
}

.menu .title h2{
    font-size: 3em ;
    font-weight: 600;
    text-transform: capitalize;
    color: white;
}
.menu .title p{
    color: white;
    font-weight: 600;
}
.menu .menucard{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.menu .menucard .box{
    width: 300px;
}
.menu .menucard .box img{
    height: 280px;
    width: 280px;
    border-radius: 50%;

}
.menu .menucard .box h2{
    text-transform: capitalize;
    font-weight: 600;
    color: white;
    margin-top: 10px;
    letter-spacing: 1px;
}
.menu .menucard .box p{
    margin-top: 5px;
    color: white;
    font-weight: 300;

}
.order{
    width: 100%;
    padding: 70px;
    background-color: #ffd17e;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.order .leftside{
    width: 50%;
}
.order .leftside img{
    width: 450px;
    border-radius: 50%;
}
.order .rightside{
    width: 50%;
}
.order .rightside h2{
    text-transform: capitalize;
    font-size: 3.5em;

}
.order .rightside p{
    padding: 10px 0px ;
}
.order .rightside button{
    padding: 8px 20px;
    background-color: navy;
    text-transform: uppercase; 
    font-size: 18px;
    letter-spacing: 1px;
    border: none;
    border-radius: 30px;
    color: white;
}
.stats{
    width: 100%;
    padding: 70px;
    background-color: navy;
    text-align: center;
}
.stats .title{
    text-align: center;
}
.stats .title h2{
    font-size: 3em;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
}
.stats .title p{
    color: white;
}
.stats .statscard{
    width: 100%;
    margin-top:40px ;
    display: flex;
    justify-content: space-between;
}
.stats .statscard .box{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid white; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stats .statscard .box h2{
    color: white;
    font-size: 3em;

}
.stats .statscard .box h3{
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2em;
}
.feedback{
    width: 100%;
    padding: 70px;
    background:linear-gradient(90deg, rgba(2,0,36,0.9) 0%, rgba(33,36,61,0.9)  100%), url(image-4.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.feedback img{
    height: 250px;
    width: 250px;
    border-radius: 50%;


}
.feedback p{
    color:white ;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;

}
.feedback h2{
    color: white;
    font-size: 2em;
    margin-top: 10px;
    text-transform: capitalize;
}
.subscribe{
    width: 100%;
    padding: 70px;
    background-color: #ffd17e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.subscribe .title h2{
    font-size: 3em;
    text-transform: capitalize;
    font-weight: 600;
}
.subscribe .searchbox{
    width: 500px;
    height: 60px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    margin-top: 15px;
}
.subscribe .searchbox input{
    background-color: transparent;
    border: none;
    outline: none;
    height: 80%;
    border-radius: 40px;
    padding-left: 160px;
}
.subscribe .searchbox button{
    background-color: navy;
    border-radius: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    width: 170px;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
    
}
footer{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: navy;

}
footer .sec{
    width: 400px;

}
footer .sec h2{
    color: white;
    font-size: 2em;
    font-weight: 600;
    text-transform: capitalize;
}
footer .sec p{
    color: white;
    margin-top: 15px;
}
footer .sec img{
    width: 60px;
    margin: 18px 8px;
    filter: invert(1)

}
/*
footer .sec1{
    width: 250px;
}*/
footer .sec1 h2{
    color: white;
    font-size: 2em;
    font-weight: 600;
    text-transform:capitalize;

}
footer .sec1 ul li{
    color: white;
    padding: 12px 0px;
    text-transform: capitalize;
    font-size: 16px;
}
